body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #faeded;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #619ce8;
    border: 2px solid #d70f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

#winningMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(16, 250, 125);
    padding: 20px;
    border: 2px solid #ba0c65;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#restartButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

/* Highlight the winning cells */
.highlight {
    background-color: #e7700e; /* Highlight color for winning cells */
}
